* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
}

#task-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

#add-task-btn {
  background-color: #5cb85c;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  opacity: 1;
}

#add-task-btn:hover {
  opacity: 0.9;
}

#task-list {
  list-style: none;
}

#task-list li {
  background-color: #eee;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

#task-list li.completed {
  background-color: #d9edf7;
  text-decoration: line-through;
  color: #777;
}

#task-list li.completed .delete-btn {
  /* Força a remoção do risco (text-decoration) apenas no botão de deletar */
  text-decoration: none;
}

.delete-btn {
  background: none;
  border: none;
  color: #d9534f;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2rem;
}
